

html, body{
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  color:hsl(219, 27%, 20%);
}

.bg-light{

  background-color: rgb(255, 255, 255, 0.9) !important;

}




/* Counter */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.section{
  background: url("images/bg-1.jpg") no-repeat;
  height: 1px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.wrapper{
  padding: 20px 50px;
}
.wrapper .title{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.wrapper p{
  text-align: justify;
  padding-bottom: 20px;
}
.counter-up{
  background: url("images/bg-2.jpeg") no-repeat;
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.counter-up::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.counter-up .content{
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.counter-up .content .box{
  border: 1px dashed rgba(255, 255, 255, 0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.content .box .icon{
  font-size: 32px;
  color: #252525;
}
.content .box .counter{
  font-size: 50px;
  font-weight: 500;
  color: #252525;
  font-family: sans-serif;
}
.content .box .text{
  font-weight: 400;
  color: rgb(26, 26, 26);
}
@media screen and (max-width: 1036px) {
  .counter-up{
    padding: 50px 50px 0 50px;
  }
  .counter-up .content .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  .counter-up .content .box{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper{
    padding: 20px;
  }
  .counter-up{
    padding: 30px 20px 0 20px;
  }
}

/* .counter */






.logos1{
display: none;
}
@media screen and (min-width: 768px) {
  .logos1{
    display: block;
    margin-bottom: 50px;
  }
  }

  .logos_phone{
    display: block;
    margin-top: 50px;
    }

    @media screen and (min-width: 768px) {
      .logos_phone{

        display: none;
     }
    }

 .apps{
      display: block;
      width: 100%;
      padding: 5px;
      height: auto;
      text-align: center;
      align-items: center;
      margin: 20px 0 50px 0;
      }
  
  @media screen and (min-width: 768px) {
  .apps{

    display: none;
  }
}

    .availableon{
    display: none;

    }

@media screen and (min-width: 768px) {
.availableon{
  display: flex; 
  flex-direction: row;
  }
}


  .logos2{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
  }

  .logo_b{

    height: 26px;
    width: auto;
  }

.logo_a{

  height: 45px;
  width: auto;
}

.logo_a:hover{

  accent-color: #888;

}

.cards{
height: 100%;
width: 100%;
text-align: center;
border-radius: 10px;
background-color: #fdfdfd;
padding: 10px;

}

.heading{

  font-size: 24px;
  font-weight: 600;
}


.regbutton{
  z-index: 2000;
  background-color: white;
  display: block;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  padding: 12px;
  align-items: center;
  text-align: center;
}


@media screen and (min-width: 768px) {
  .regbutton{
    display: none;
  }
}

.playbtn{

  display: block;
}

@media screen and (min-width: 768px) {
.playbtn{

  display: none;
}
}

.regbtn{
  width: 100%; 
  background-color: #d84651; 
  padding: 12px; 
  border-width: 0ch;
  color: white; 
  font-size: 14px; 
  text-align: center;
}
.regbtn:hover{
  width: 100%; 
  background-color: #be3944;
  border-width: 2px; 
  padding: 12px; 
  color: rgb(255, 255, 255); 
  border-color: thistle;
  font-size: 14px; 
  text-align: center;
}



.navbar{
  padding: .8rem;

}
.navbar-brand img{
  width: 150px;
  height: 70px;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.carousel-inner img{
  width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #d84651;
  border: 1px solid #d84651;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
  text-decoration: none;
}

.nav-link2{
background-color: #d84651;
margin-top: 5px;
}
.nav-link2:hover {
  background-color: #563d7c;
  text-decoration: none;
}

.text02{
font-size: 14px; 
line-height: 28px; 
color: hsl(216, 15%, 52%); 
font-weight: 500;
margin-bottom: 20px;
}

.pb{


  display: none;
}

.pb2{
  display: block;
}

@media screen and (min-width: 768px) {
.text02{
font-size: 20px; 
line-height: 28px; 
color: hsl(216, 15%, 52%); 
font-weight: 500;
margin-bottom: 20px;
}

.pb{


  display: block;
}

.pb2{
  display: none;
}

}

.lead{
font-size: 13px;

}

.lead1{
  font-size: 13px;
  width: 200px;
  margin: 0 auto;
  }

@media screen and (min-width: 768px) {
.lead{
font-size: 15px;
}
}

.animate__animated{
font-style: bold;
font-weight: 900;
margin-top: 5px; 
font-size: 30px;
line-height: 1.4;


}

@media screen and (min-width: 768px) {
.animate__animated{
font-style: bold;
margin-top: 50px;
font-weight: 702; 
font-size: 48px;
margin-bottom: 1rem;
line-height: 1.2;
	}
}

.d-flex {
  color:hsl(218, 23%, 23%);
  font-weight: inherit;
  line-height: 1.2;
  max-width: 500px;
}
.d-flex b{
  color:hsl(358, 70%, 62%);
  font-weight: inherit;
}

.animate__animated2{
  font-style: bold;
  font-weight: 510;
  margin-top: 20px; 
  font-size: 24px;
  }
  
  @media screen and (min-width: 768px) {
  .animate__animated2{
  font-style: bold;
  margin-top: 100px;
  font-weight: 550; 
  font-size: 30px;
    }
  }


.video-wrapper{
align-items: center;
text-align: center;
margin-top: 35px;
}



.jumbotron {
  padding: 0;
  border-radius: 0;
}
.padding {
  padding-bottom: 1rem;
} 
.welcome {
  width: 85%;
  margin: 0 auto;
  padding-top: 2rem;
}

.btn2{
  padding: 10px;
margin: 40px 0 40px 0;
display: inline-block;

}

.btn{
display: none;

}

@media screen and (min-width: 768px) {
.btn{
padding: 10px;
margin: 40px 0 40px 0;
display: inline-block;
text-decoration: none;
	}
}

.greybg{

  height: auto;
  width: 100%; 
  background-color: #f0f0f0;
  align-items: center; 
  padding: 10px;
}

.greybg1{

  height: auto;
  width: 100%; 
  padding: 50px;
  background-color: #f5f5f5;
  align-items: center; 
  border-radius: 10px;
  padding:20px;
}

@media screen and (min-width: 768px) {
.greybg{

  height: auto;
  width: 100%; 
  background-color: #f0f0f0; 
  align-items: center; 
  padding: 50px;
}
}


.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2a63af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 2em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer {
  background-color: #f5f5f5;
  color: #2b2b2b;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.footer-image img{
  width: 150px;
  height: 60px;
}


/*---Media Queries --*/
@media (max-width: 1500px){
  .carousel-inner img{
    width: 100%;
    height: 550px;
  }
}

@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 400px;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
text-decoration: none;
  }
  .display-4 {
    font-size: 200%;
  } 
  .display-4 {
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
text-decoration: none;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a{
    font-size: 2em;
    padding: 1.7rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}







/* Style blogs */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  line-height: 1.5;
}


section {
  margin: 20px 0px;
  line-height: 1.5;
}

section h1 {
  margin: 20px 20px;
  font-size: 2.5rem;
  color: #222;
}

article {
  display: flex;
  max-width: 1400px;
  padding: 4%;
  justify-content: space-between;
}

.name{
  width: auto !important;
  text-align: left !important;
  font-size: 12px;
}

.content {
  margin: 10px 20px;
  font-size: 1rem;
}

.content img {
  width: 100%;
  padding: 10px;
  max-width: 860px;
  object-fit: cover;
}

.content h3 {
  margin: 20px 0px;
  padding: 10px;
  font-size: 2rem;
  color: #222;
}

.content p {
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
  max-width: 900px;
  line-height: 1.5;
  
}

.author {
  display: flex;
  
  justify-content: left;
  
}

.author_img{

  margin: 10px 0px;
  padding: 5px;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  object-fit: cover;  
}

.author img {
  margin: 10px 10px 10px 0;
  height: 55px;
  width: 55px;

  border-radius: 50%;
  object-fit: cover;
}

.author p {
  color: #111;
}

.recentArticle {
  margin: 0 20px;
  width: 24%;
}

.innerWrap {
  margin: 20px 0px;
}

.card_a{


  display: flex;
  justify-content: space-between;
}

.innerWrap .card_a {
  display: flex;
  margin: 20px 0px;
  justify-content: left;
}

.innerWrap .card_a img {
  max-width: 200px;
  width: 100%;
  object-fit: cover;
}

.card_a .text {
  padding-left: 30px;

}

.card_a .text h2 {
  color: #222;
  text-align: left;
  font-size: 16px;
}

.text .author {
  margin: 0;
  padding: 0;
  margin-right: 100px;
  align-items: center;
}

@media (max-width: 1000px) {
  nav ul li a {
      margin: 0 5px;
      font-size: 15px;
  }

  .name{

      width: auto !important;
      text-align: left !important;
      margin: 0 !important;
      font-size: 12px;
  }
  nav .btn a {
      margin: 0;
  }
  article {
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 0;
  }
  .content img {
      max-width: 350px;
  }
  .content p {
    text-align: justify;
      margin: 0 auto;

  }

  .content h4 {

    font-size: 18px;
    font-weight: bold;
  
  }

  .content h3 {

    font-size: 21px;
    font-weight: bold;
  
  }

  .author {
      flex-direction: column;
  }
  .recentArticle {
      margin: 0 auto;
      padding: 100px;
      display: block;
      width: 100%;
      text-align: left;
  }
  .recentArticle h2 {
      text-align: left;
      font-size: 24px;
  }
}

@media (max-width: 650px) {
  .recentArticle {
      margin: 0px -10px;
      padding: 50px;
      text-align: center;
  }
  .text h2 {
      font-size: 14px;
  }
}

@media (max-width: 600px) {
  .recentArticle {
      margin: 0px -5px;
      padding: 20px;
  }
}












/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








